.sidebarArea {
  flex-shrink: 0;
  width: $sidebarWidth;
  .nav-link {
    color: rgb(0, 0, 0);
  }
  .sidenav-bg:hover {
    background-color: rgb(255, 255, 255);
    border-radius: $border-radius;
    .nav-link {
      color: rgb(80, 80, 80);
    }
  }
  .sidenav-bg .active {
    background-color: rgb(210, 243, 249);
    border-radius: $border-radius;
    color: rgb(194, 233, 255);
  }
}

@include media-breakpoint-down(lg) {
  .sidebarArea {
    position: fixed;
    height: 100%;
    overflow: auto;
    top: 0;
    z-index: 1;
    margin-left: -$sidebarWidth;
    transition: 0.2s ease-in;
    &.showSidebar {
      margin-left: 0px;
    }
  }
}
